/* main styles */
body{font-family: 'Roboto','Raleway',
    sans-serif;
    color: #434455;
background-color: #FFF;}
.link {text-decoration: none;}
.list {list-style-type: none;}
:root {--main-color: #4D5AE5;
 --primeri-color: #2E2F42;
--wite-color: #FFF;}
/* main styles */

/* heder styles */
.logo {color: var(--primeri-color);
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;}

.first-part {color: var(--main-color);
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;}

.page-nav-list {color: var(--primeri-color);
          font-size: 16px;
        font-weight: 500;
        line-height: 1.62;
        letter-spacing: 0.02em;}

        .contakts-list-ltem {font-size: 16px;
            font-weight: 400;
            line-height: 1.62;
            letter-spacing: 0.02em;}
.mobile {color: #434455;}            
.mail {color: #434455;}

.mobile:hover,
.mobile:focus {color: #404BBF;}

.mail:hover,
.mail:focus {color: #404BBF;}

.page-nav-list:hover,
.page-nav-list:focus {color: #404BBF;}
/* heder styles */

/* Hero image */
.hero-image-section {background-color: var(--primeri-color);}

.hero-type {color: var(--wite-color);
    font-size: 56px;
        font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.2em;}

.hero-button {color: var(--wite-color);
    background-color: var(--main-color);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; 
    letter-spacing: 0.02em;}    

    .hero-button:hover,
    .hero-button:focus {background-color: #404BBF;}
    /* Hero image */
/* feuters */
.options-titel {color: var(--primeri-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20; 
    letter-spacing: 0.02em;}

.option-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;}    
/* feuters */

/* Our Team */
.team-section {background-color: #F4F4FD;}

.secondery-titel {color: var(--primeri-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;}

.team-list-name {color: var(--primeri-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;}

.team-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5024px;
    letter-spacing: 0.02em;}    
/* Our Team */

/* Portfolio */
.portfolio-titel {color: var(--primeri-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;}

.portfolio-text {font-size: 16px;
    font-weight: 400;
    line-height: 1.50;
    letter-spacing: 0.02em;}
/* Portfolio */

/* Footer */
.the-end {background-color: var(--primeri-color);}

.secondery-logo-text {color: var(--main-color);
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;}

    .secondery-logo {color: var(--wite-color);
        font-family: "Raleway";
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;}

        .end-text {color: var(--wite-color);
            font-size: 16px;
            font-weight: 400;
            line-height: 1.50;
            letter-spacing: 0.02em;}